Package: com.unobfuscation.lennyface
Name: LennyFace
Depends: com.alexzielenski.zeppelin
Version: 1.0
Architecture: iphoneos-arm
Description:
Maintainer: Unobfuscation
Author: Unobfuscation
Section: Addons (Zeppelin)
